:root {
    --primaryColor: #06DC0F;
    --secondaryColor: #05A20C;
    --thirdColor: #222222;
    --bgColor: #FAFBFF;
    --darkModePrimaryColor: #13151E;
    --darkModeSecondaryColor: #262E3E;
    --darkModeThirdColor: #262E3E;
    --darkModeBgColor: #12151E;
}